body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    color: #E5E7EB;
    background-color: #1f2937;
}
.left-links {
    font-weight: bold;
    margin-right: auto;
}
.right-links {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-left: auto;
    padding: 0px 100px 0px 0px; 
    /* padding-right: 100px;  */

}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Section 1 */

.sectionOne {
    display: flex;
    background-color: #1f2937;
    color: #F9FAF8;
    align-items: center;
    justify-content: center;
    padding: 90px;
}
.sectionOneText {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    text-align: left;
    margin-right: 50px;
}
.headingTitle {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}
.wedding_maldives {
    border-radius: 8px;
    width: auto;
    max-height: 350px;
 
}
.signUp {
    padding: 6px 14px;
    border-radius: 6px;
    width: 120px;
    margin: 12px 12px 12px 0px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
}

/* Section 2 */


.sectionTwo {
    align-items: center;
}
.box_image_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box_image {
    height: 150px;
    width: 150px;
    margin: 6px 14px;
    border-radius: 6px;
    border: 3px solid #3882F6;
}


/*  Section 3  */


.sectionThree {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 150px;
}
.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.quoteWriter {
    text-align: right;
    padding-right: 20px;
    padding-bottom: 25px;
    font-size: 18px;
}

/* Section 4 */

.sectionFour {
    background-color: #3882F6 ;
    margin: 50px 200px;
    padding: 15px 70px;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.contactUsText {
    flex: 1;
    /* text-align: left; */
    color: #F9FAF8;
    padding: 0;

}

.contactUs {
    flex: 1;
    /* padding: 4px 14px;
    border-radius: 6px;
    width: 100px;
    margin: 12px 12px 12px 0px;
    background-color: #3882F6; */
}

.contactUs button {
    border-radius: 6px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    font-size: 15px;
    padding: 5px 25px;
}


/* Footer */

.footer {
    color: #E5E7EB;
    background-color: #1f2937;
    margin-top: auto;
}


